.container-fluid{
  background:black;
}
.block{
  background-color:black;
  opacity:.9;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:10px;
}
.nav-pills{
  font-family: Poppins;
  font-size: 2.0em;
  font-color:white;
  background-color:black;
  margin-bottom:7%;
}
.fa-linkedin{
  color: #4875B4;
}
.fa-twitter-square{
  color:rgb(29, 202, 255);
}
.fa-envelope-square{
  color:#C63D2D;
}
.fa-github-square{
  color:#6e5494;
}
body{
 font-family: Poppins;
  color:white;
}
h1{
  font-size:6em;
  padding:0;
  margin-top:0px;
}
h2{
  font-size: 2.5em;
}
.btn-default{
  background-color:black;
  border-color:black;
  color:#337ab7;
  font-size:1.7em;
  
}
p{
  text-align:left;
  font-size:1.2em;
  text-indent: 50px;
}
.me{
  height:500px;
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom:auto; 
}
.pageOne{
  background:url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=575755492ef51726cb066f422908b9d7&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  padding-bottom:7%;
  
}
.pageTwo{
  background:url("https://images.unsplash.com/photo-1516101922849-2bf0be616449?ixlib=rb-0.3.5&s=e4b81ba6ba6aaff25fc3e7caced7093d&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
  padding-top:5%;
  padding-bottom:5%;
}
.pageThree{
  background:url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3b92161cef01773ab8e0f83d4da1126&auto=format&fit=crop&w=1350&q=80");
background-size: cover;
padding-top:5%;
padding-bottom:5%;
}
.pageFour{
  background:url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-0.3.5&s=bbd3f4a55de814f1b93b80669674cc17&auto=format&fit=crop&w=1350&q=80");
background-size: cover;
padding-top:5%;
padding-bottom:5%;
}
.pageFive{
  background:url("https://images.unsplash.com/photo-1515704089429-fd06e6668458?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3860371df6121bd9176d5889b487c3e1&auto=format&fit=crop&w=1350&q=80");
background-size: cover;
padding-top:5%;  
padding-bottom:5%;
}